$primary-font-stack: 'Roboto Mono';
$font-size-mid: 16px;
$first-item-color:  #06b3db;
$second-item-color: #4ed486;
$third-item-color: #6139f6;
$fourth-item-color: #e3b63d;
$fihth-item-color: #dc3d66;
$sixth-item-color: #bd54cd;
